body { width: 100%; height: 100%; padding: 0; margin: 0; }
h1 { padding: 0; margin: 0; }

.full-website-wrapper { max-width: 960px; width: 100%; margin: 0 auto;padding-top: 100px;}
.title-area, .menu-area { align-content: center; display: flex; justify-content: center; height: 50px; width: 100%; }
.menu-area span { margin: 0 10px; }
.menu-area a { color: #272b2e; text-decoration: none; text-transform: uppercase; }
.menu-area a:hover { text-decoration: underline; }
.content-area { display: flex; flex-direction: row; }

section { width: 70%; border-right: 1px solid #000; margin-bottom: 25px; }
aside { margin-left: 2%; width: 28%; margin-bottom: 25px; }

aside.dashboard-aside:first-child { width: 23%; margin-left: 0; margin-right: 2%; }
aside.dashboard-aside:last-child { width: 23%; margin-left: 0; }
section.dashboard-section { width: 23%; margin-right: 2%; border: 0; }
section.employee-dashboard { margin: 0 auto; border-right: 0; padding-top: 10px;}

.book-info, .library-info { display: flex; flex-direction: row; justify-content: space-between; }
.book-info .book-id-column { width: 10%; }
.book-info .book-title-column { width: 30%; }
.book-info .book-type-column  { width: 18%; }
.book-info .book-copies-column { width: 22%; }
.book-info .book-location-column { width: 20%; }

.library-info .library-address-column { width: 40%; }
.library-info .library-title-column { width: 32%; }
.library-info .library-id-column { width: 10%; }
.library-info .library-zipcode-column { width: 18%; }

input { padding: 3px 0; margin: 3px 0;}

.checkout-button { padding: 5px 10px; margin: 0 5px 20px 5px; }
.remove-button { padding: 5px 10px; margin: 0 5px 20px 5px; }